<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Automation" version="1.0.2" targetFramework="net452" />
  <package id="DdeNet" version="1.0.0" targetFramework="net452" />
  <package id="FiddlerCore2" version="1.0.0" targetFramework="net452" />
  <package id="NDde" version="2.01.0563" targetFramework="net452" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net452" />
  <package id="Pcap.Net.x64" version="1.0.4.1" targetFramework="net452" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net452" />
  <package id="System.Management" version="4.0.0" targetFramework="net452" />
  <package id="UIAComWrapper" version="1.1.0.14" targetFramework="net452" />
</packages>